.pusher {
    background-color: #F8F8F8 !important;
}

#gh-site .main.container {
    width: 700px !important;
}

.page.header {
    width: 100% !important;
}

.page.header .ui.menu {
    border: none;
}

.page.header {
    margin-top: 1px;
    background-color: #FFF;
    box-shadow: none;
    transition: box-shadow 0.5s ease;
}

.page.header.fixed {
    margin-top: 0;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.ui.piled.segment {
    margin: 2em 0 !important;
}

.tags {
    float: right;
}

.ui.url.label:last-child {
    margin-right: 1em;
}

.sidebar-toggle {
  position: fixed;
  right: 50px;
  bottom: 105px;
  width: 25px;
  height: 25px;
  padding: 5px;
  background: #222;
  line-height: 0;
  z-index: 1024;
  cursor: pointer;
}
.sidebar-toggle-line {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 2px;
  width: 100%;
  background: #87daff;
  margin-top: 3px;
}
.sidebar-toggle-line:first-child {
  margin-top: 0;
}

.back-to-top {
  position: fixed;
  bottom: 79px;
  right: 50px;
  z-index: 1024;
  width: 25px;
  height: 23px;
  padding: 5px;
  background: #222;
  color: #fff;
  cursor: pointer;
}

.back-to-top:before {
  display: block;
  content: " ";
  margin-top: 2px;
  width: 0;
  height: 0;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
}
